<button
  type="button"
  class="fixed top-4 right-4 cursor-pointer w-9 h-9 flex text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-gray-100 rounded-lg hover:shadow-md aside--item backdrop-blur-md"
  data-btn="toggletheme"
>
  <div class="relative w-6 h-6 m-auto">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="absolute transition-all duration-200 icon-sun w-6 h-6"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
      <path
        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="absolute transition-all duration-200 icon-moon opacity-0 w-6 h-6"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
      ></path>
    </svg>
  </div>
</button>
