---
const { place, date, active } = Astro.props;
---

<div class="flex flex-col gap-1 py-2">
  <div class="flex justify-between items-center">
    <div class="flex gap-3 items-center">
      <h3 class="font-bold dark:text-white">{place}</h3>
      {
        active && (
          <span class="w-[10px] h-[10px] rounded-full m-auto block bg-green-500 shadow-md shadow-green-300 dark:shadow-green-300/50" />
        )
      }
    </div>
    <span class="px-2 rounded-lg border bg-gray-100">{date}</span>
  </div>
  <p class="py-2 dark:text-gray-50">
    <slot />
  </p>
</div>
