---
const { imgname, title, link } = Astro.props;
---

<div class="sm:flex sm:gap-4 py-2">
  <img
    src={`/imgs/projects/${imgname}`}
    alt="Pagina web Gobernación"
    class="rounded-md my-2"
  />
  <div>
    <h3 class="py-2 font-semibold dark:text-white">
      {title}
    </h3>
    <!-- <div class="py-2 flex items-center gap-2 flex-wrap">
      <span
        class="px-2 rounded-lg border border-orange-300 dark:border-orange-300/50 dark:text-white"
        >HTML</span
      >
      <span
        class="px-2 rounded-lg border border-yellow-300 dark:border-yellow-300/50 dark:text-white"
        >JavaScript</span
      >
      <span
        class="px-2 rounded-lg border border-blue-300 dark:border-blue-300/50 dark:text-white"
        >CSS</span
      >
      <span
        class="px-2 rounded-lg border border-rose-300 dark:border-rose-300/50 dark:text-white"
        >Laravel</span
      >
    </div> -->
    <p class="py-2 dark:text-gray-50">
      <slot />
    </p>
    <div class="py-2 flex items-center gap-2 flex-wrap">
      <a
        class="px-2 py-1 rounded-lg border border-gray-400 hover:bg-gray-100 dark:text-gray-50 dark:border-gray-400 dark:hover:bg-gray-400 transition-all duration-200"
        href={link}
        target="_blank">Visitar</a
      >
    </div>
  </div>
</div>
