<div class="py-2 flex items-center gap-2 flex-wrap">
	<span
		class="px-2 rounded-lg border border-orange-300 dark:border-orange-300/50 dark:text-white"
		>HTML</span
	>
	<span
		class="px-2 rounded-lg border border-blue-300 dark:border-blue-300/50 dark:text-white"
		>CSS</span
	>
	<span
		class="px-2 rounded-lg border border-yellow-300 dark:border-yellow-300/50 dark:text-white"
		>JavaScript</span
	>
	<span
		class="px-2 rounded-lg border border-purple-300 dark:border-purple-300/50 dark:text-white"
		>PHP</span
	>
	<span
		class="px-2 rounded-lg border border-sky-300 dark:border-sky-300/50 dark:text-white"
		>Tailwind CSS</span
	>
	<span
		class="px-2 rounded-lg border border-sky-300 dark:border-sky-300/50 dark:text-white"
		>React</span
	>
	<span
		class="px-2 rounded-lg border border-rose-300 dark:border-rose-300/50 dark:text-white"
		>Laravel</span
	>
</div>
